<!DOCTYPE html>
<html>
  <head>
    <title>Gdesign</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,800" rel="stylesheet">  </head>

  <body>
   <%= render '/partials/flash' %>
    <div class="container fill">
      <div class="content">
      <div id="nav">
        <%= link_to "Home", "/", {class: "green left"} %>
        <% if logged_in? %>
          <%= link_to "Logout", logout_path, {method: "DELETE", class: "btn btn-sm right"} %>
          <%= link_to current_user.name, user_path(current_user.id), {class: "btn blue_bg btn-sm left"} %>
        <% else %>
          <%= link_to "Login", new_session_path, {class: "btn btn-primary btn-sm"} %>
        <% end %>
      </div>

      <%= yield %>
    </div>
      <%= render '/partials/footer' %>
    </div>
  </body>
</html>
