<!DOCTYPE html>
<html>
  <head>
    <title>Gdesign</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

        <% if logged_in? %>
          <%= link_to "Logout", logout_path, {method: "DELETE"} %>
          <%= link_to current_user.name, user_path(current_user.id) %>
        <% else %>
          <%= link_to "Login", new_session_path %>
        <% end %>
        <%= link_to "Home", "/" %>

      <%= yield %>
      <br>
      <%= params %>
  
    </div>
  </body>
</html>
